
.head-maintenance {
    color: var(--gray-700-color);
    /* flex: auto; */
}

.my-6 {
    margin: 6rem 0;
  }

/* maintenance Cards */
.m-card {
    color: white;
    max-width: 500px;
    padding: 1.5rem;
    border: #ccc 1px ;
    margin: 0.7rem 0;
    border-radius: 7px;
    background: var(--gray-800-color);
  }

/* Mobile Styles */
@media (max-width: 700px) {
    div > img {
        display: none;
    }

    .m-card {
        margin-left: 1.5rem;
    }
}