
.head-maintenance {
    color: var(--gray-700-color);
    /* flex: auto; */
}

/* maintenance Cards */
.m-card {
    padding: 1.5rem;
    border: #ccc 1px ;
    margin: 0.7rem 0;
    background: var(--light-color);
  }

/* Mobile Styles */
@media (max-width: 700px) {
    div > img {
        display: none;
    }

    .m-card {
        margin-left: 1.5rem;
    }
}